PORT=3000
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@<HOST>:<PORT>/<DB_NAME>?sslmode=verify-full&channel_binding=require
HOST=0.0.0.0
NODE_ENV=development


# Arcjet API key for authentication. Replace with your actual Arcjet key.
ARCJET_KEY="your_secret_arcjet_key_here"
ARCJET_ENV=development

# Public base URL used when NODE_ENV is not development.
BASE_URL=https://sportz-sigma.vercel.app